body {
  font-family: "Pridi";
}



/*row1*/

div#row1 {
  background-image: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  height: 636px;
  text-align: center;
}
span {
  font-size: 70px;
  cursor: pointer;

}


/*row2*/

div#col1-r1 {
  height: 105px;
}

div#col1-r2 {
  height: 105px;
  background-color: #f15a29;
}
div#row2 {
  text-align: center;
}


/*row3*/

div#row3 {
  text-align: center;
}

div#r3-col2 {
  text-align: left;
}

/*row4*/

div#r4-col1 {
  text-align: right;
}

div#row4 {
  text-align: center;
}

/*row5*/

div#row5 {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  height: 599px;

  text-align: center;
}
/*row6*/
div#row6 {
  text-align: center;
}
/*row7*/
div#row7 {
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  height: 301px;

  text-align: center;

}
/*row8*/
div#row8 {
  background-color: #f15a29;
  text-align: center;
}
