body {
  font-family: 'Pridi', serif;
}

/*row1*/

h1#row1 {
  color: #ffffff;
}

div.center {
  text-align: center;
}

div#row1 {
  background-image: url("../img/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  height: 636px;
}

span {
  font-size: 70px;
  cursor: pointer;
  color: #ffffff;
  font-stretch: extra-expanded;
}

div.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(241, 90, 41, 80%);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 200px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  display: block;
  transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

div.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*row2*/

div#col1-r1 {
  height: 105px;
  border: 0px;
}

div#col1-r2 {
  height: 105px;
  background-color: #f15a29;
  border: 0px;
}

div#row2 {
  text-align: center;
  width: 100%;
  padding: 0;
}
div#r2-col2 {
  border: 0px;
}
div#r2-col3 {
  border: 0px;
}
div#r2-col4 {
  border: 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 30px;
}

/*row3*/

div#row3 {
  text-align: center;
}

div#r3-col2 {
  text-align: left;
}

/*row4*/

div#r4-col1 {
  text-align: right;
}

div#row4 {
  text-align: center;
}

/*row5*/

div#row5 {
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  height: 599px;
  text-align: center;
}
#row5-div2 {
  background-color: #ffffff;
  text-align: center;
  height: 300px;
  padding-left: 50px;
}

/*row6*/

div#row6 {
  text-align: center;
}

/*row7*/

div#row7 {
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  height: 301px;
  text-align: center;
  padding-top: 70px;
}

h3#row7 {
  color: #ffffff;
}
#email {
  background-color: rgb(255, 255, 255, 30%);
  width: 350px;
  height: 45px;
  float: left;
  border: 0px;
  color: #ffffff;
}
.btn {
  background-color: #f15a29;
  color: #ffffff;
  width: 250px;
  height: 45px;
  cursor: pointer;
  float: right;
}
form {
padding-left: 335px;
padding-right: 200px;
}
#blanks {
  display: inline;
}

/*row8*/

div#row8 {
  background-color: #f15a29;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}
#img-row8 {
  float: left;
}
#logo-name {
  padding-left:500px;
  padding-right: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}
